$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
// endbower

$cube-height:30px;
$test-cube-color:#ccc;
$test-passed-cube-color:#0F0;
$test-failed-cube-color:#d31;
$test-running-cube-color:#505E67;
$firewall-cube-color:#acf;
$build-cube-color:#f0a;
.tests{
  height:$cube-height;
  background:$test-cube-color;
}
.succeed,.complete, .accepted{
  border:1px solid $test-passed-cube-color !important;
   color:$test-passed-cube-color !important;
} 
.succeed .tests, .complete .tests, .accepted .tests{
  background:$test-passed-cube-color;
}
.rejected,.failed{
   border:1px solid $test-failed-cube-color !important;
    color:$test-failed-cube-color !important;
}
.rejected .tests, .failed .tests{
  background:$test-failed-cube-color;
}
.running {
   border:1px solid $test-running-cube-color !important;
   color:$test-running-cube-color !important;
}
.running .tests{
  background:$test-running-cube-color;
}
.pending{
  opacity:0.3;
}
.firewall .type-icon{
  background:$firewall-cube-color;
}
.build .type-icon{
  background:$build-cube-color;
}
.type-icon{
  height:$cube-height;
  margin-right: 10px;
}
.border-btm-none{
  border-bottom: none !important;
}
.break-word {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}